# Environment variables
.env
.env.*
!.env.example

# Compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Upload directories
uploads/
uploads/*
/uploads
/public/uploads
**/uploads/
**/profile-photos/

# Database
*.sqlite
*.sqlite3

# Temporary files
tmp/
temp/